body{
    background-color: #9e2a2b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    height: 90dvh;
    align-items: center;
    justify-content: space-evenly;
}
#container{
    border-radius: 24px;
    height: 74dvh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo{
    height: 150px;
    width: 500px;
    background-image: url(accesslogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#loginForm{
    width: 70%;
    margin-left: 2%;
    padding: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
#loginForm h4{
    color: white;
    margin-bottom: 5%;
}
#loginForm a{
    width: 70%;
    margin-bottom: 15px;
    color: white;
    text-align: right;
    font-size: 12px;
}
#loginForm a:hover{
    cursor: pointer;
    text-decoration: underline;
}
.inputBox{
    width: 70%;
    margin: 2%;
    height: 18%;
    border: 1px solid white;
    border-radius: 4px;
}
.inputBox:focus{
    outline: none;
}
#loginSubmit{
    width: 70%;
    margin: 2%;
    height: 20%;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: #9e2a2b;
    font-size: large;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#loginSubmit:hover{
    background-color: #f5b659;
}

@media only screen and (max-width: 500px) {
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        flex-direction: row;
        height: 100dvh;
        
    }
    #container{
        height: 70dvh;
        width: 90%;
        display: flex;
        flex-direction: column;        
    }
    #info{
        height: 60px;
    }
    #loginForm{
        width: 70%;
        margin-left: 2%;
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
    }
    #loginForm p{
        color: white;
        margin-bottom: 5%;
    }
    #loginForm h4{
        width: 100%;
        margin-bottom: 32px;
        color: white;
        text-align: right;
        font-size: 12px;
    }
    #loginForm a:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    #loginEmail, #loginPassword{
        width: 100%;
        height: 8%;
        margin: 2%;
        border: 1px solid white;
        border-radius: 4px;
    }
    #loginEmail::placeholder, #loginPassword::placeholder{
        color: #0a3153;
    }
    #loginSubmit{
        width: 70%;
        margin: 2%;
        height: 12%;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: #337bff;;
        font-size: large;
        color: white;
        font-weight: 600;
        cursor: pointer;
    }
}